html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
}

body {
  min-width: 960px;
  height: max;
  font-family: "Noto Sans CJK JP";
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  body {
    min-width: 320px;
    margin: 0;
  }
}


.header {
  position: fixed;
  width: 960px;
  height: 66px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  white-space: nowrap;
}

@media (max-width: 480px) {
  
  .header {
    width: 100%;
    padding: 0 20px;
  }
}


.header__left {
  padding: 10px 0;
  padding-right: 100px;
}


.header__logo {
  width: 165px;
}

@media (max-width: 480px) {
  
  .header__logo {
    width: 123.66px;
  }
}


.header__right {
  padding: 10px 0;
  margin: 0 0 0 auto;
}

@media (max-width: 480px) {
  
  .header__right {
    display: none;
  }
}


.header__link {
  font-size: 16px;
  padding-right: 12px;
  text-decoration: none;
  color: #444444;
}


.index {
  margin: 0 auto;
}

@media (max-width: 480px) {
  
  .index {
    width: 100%;
  }
}


.section--top,
.section {
  width: 960px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  
  .section--top,
  .section {
    width: 100%;
    padding: 50px 20px;
  }
}


.section--top {
  padding: 100px 0;
}

@media (max-width: 480px) {
  
  .section--top {
    width: 100%;
    padding-top: 50px;
    padding: 0  20px;
  }
}


.container {
  width: 100%;
}


.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  
  .container--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


.container--flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  
  .container--flex-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}


.container__button-pc {
  display: block;
}

@media (max-width: 480px) {
  
  .container__button-pc {
    display: none;
  }
}


.container__button-sp {
  display: none;
}

@media (max-width: 480px) {
  
  .container__button-sp {
    display: block;
  }
}


.container__right {
  padding-left: 138px;
}

@media (max-width: 480px) {
  
  .container__right {
    padding: 0;
  }
}


.container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

@media (max-width: 480px) {
  
  .container__inner {
    padding-top: 25px;
  }
}


.container__img-sp {
  display: none;
}

@media (max-width: 480px) {
  
  .container__img-sp {
    display: block;
    padding: 50px 0;
    text-align: center;
  }
}


.container__item {
  padding-top: 100px;
}

@media (max-width: 480px) {
  
  .container__item {
    padding-top: 50px;
  }
}


.container__img-pc {
  padding: 100px 0;
}

@media (max-width: 480px) {
  
  .container__img-pc {
    display: none;
  }
}


.container__isometric-pc {
  padding-left: 104px;
  padding-top: 21px;
}

@media (max-width: 480px) {
  
  .container__isometric-pc {
    display: none;
  }
}


.container__isometric-sp {
  display: none;
}

@media (max-width: 480px) {
  
  .container__isometric-sp {
    display: block;
    text-align: center;
  }
}


.container__recommend {
  width: 756px;
  padding: 32px 0;
  border-radius: 25px;
  background: #fff;
  border: 5px solid #ff8585;
  margin: 0 auto;
  text-align: center;
  display: none;
}


.container__faq {
  display: none;
  padding: 10px 0;
}


.container__faq:first-child {
  padding-top: 50px;
}


.container__faq:last-child {
  padding-bottom: 50px;
}


.container__question {
  padding: 16px 32px;
  background: #7E8A97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px 25px 0 0;
}


.container__question::before {
  content: 'Q';
  color: #fff;
  font-size: 32px;
  padding-right: 32px;
}


.container__answer {
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #444444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 25px 25px;
}


.container__answer::before {
  content: 'A';
  color: #FF8585;
  font-size: 32px;
  padding-right: 32px;
}


.heading--big,
.heading--center,
.heading--sub,
.heading {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #444;
}

@media (max-width: 480px) {
  
  .heading--big,
  .heading--center,
  .heading--sub,
  .heading {
    font-size: 25px;
    line-height: 50px;
  }
}


.heading--big {
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.14em;
  line-height: 64px;
  text-align: left;
  color: #444;
}

@media (max-width: 480px) {
  
  .heading--big {
    padding-bottom: 25px;
  }
}


.heading--center {
  text-align: center;
}


.heading--sub {
  font-family: "Noto Sans CJK JP";
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.04em;
  line-height: 33px;
  color: #444;
  padding-bottom: 50px;
}

@media (max-width: 480px) {
  
  .heading--sub {
    padding-bottom: 25px;
    font-size: 25px;
  }
}


.text--top,
.text--mini,
.text--white,
.text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 38px;
  text-align: left;
  color: #444;
}

@media (max-width: 480px) {
  
  .text--top,
  .text--mini,
  .text--white,
  .text {
    font-size: 14px;
    line-height: 28px;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}


.text--top {
  padding-bottom: 50px;
}

@media (max-width: 480px) {
  
  .text--top {
    padding-bottom: 25px;
  }
}


.text--mini {
  padding-top: 50px;
  text-align: center;
  letter-spacing: 0.72px;
  line-height: 28px;
}


.text--white {
  color: #fff;
}

.footer {
  background: #30475E;
  width: 100%;
}

.footer__inner {
  width: 960px;
  margin: 0 auto;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .footer__inner {
    width: 320px;
    padding: 50px 20px;
  }
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__text {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 33px;
  text-align: left;
  color: #fff;
  margin: 0;
}

@media (max-width: 480px) {
  .footer__text {
    font-size: 14px;
    line-height: 28px;
  }
}

.footer__text--bottom {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  .footer__text--bottom {
    font-size: 14px;
    line-height: 28px;
  }
}

.footer__link {
  font-size: 14px;
  padding-bottom: 5px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.footer__bottom {
  padding: 27px 0;
  background: #30475E;
}
/*# sourceMappingURL=index.css.map */